fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv

python-jose[cryptography]
psycopg2-binary
alembic
python-multipart
pydantic-settings
passlib==1.7.4
bcrypt==3.2.0
pymysql
email-validator
pytest
httpx